
npm install -g @nestjs/cli
nest new nestjs-example
npm run start:dev

nest g mo projects
nest g mo auth
nest g mo users
nest g co hello
nest g co projects
nest g co users
nest g co auth
nest g s users
nest g s projects
nest g s auth

npm install --save class-validator class-transformer

nest g pipe hello/pipes/validateUser

nest g guard hello/guards/auth

nest g middleware users/logger
nest g middleware users/auth

nest g resource payments

npm install prisma --save-dev
npx prisma init

npx prisma migrate dev --name init

npm install --save @nestjs/swagger
